<div class="sidebar" role="banner">
  <div class="header">
    <h1>Loja Teste</h1>
    <div class="nav">
      <ul class="nav-list">
          <li class="nav-item">
              <a class="link" routerLink="/">Produtos</a>
          </li>
          <li class="nav-item" *ngIf="on">
            <a class="link" routerLink="/carrinho">Carrinho<span *ngIf="count" class="badge">{{count}}</span></a>
          </li>
          <li class="nav-item" *ngIf="off">
              <button class="login" (click)="enter()">Entrar</button>
          </li>
          <li class="nav-item" *ngIf="on">
            <button class="login" (click)="logout()">Sair</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-modal [modal]="modal"></app-modal>
<div class="loading" *ngIf="loader">
  <div class="loader"></div>
</div>
