<div class="content" role="main">
  <div class="detalhes-container">
    <div class="columns c1" target="_blank" rel="noopener">
      <div class="product">
        <ul class="product-list">
            <li class="product-item" >
              <strong>Área para Imagem</strong>
            </li>
            <li class="product-item">
              <span> </span>
            </li>
        </ul>
      </div>
    </div>
    <div class="columns c2" target="_blank" rel="noopener">
      <div class="product">
        <ul class="product-list">
            <li class="product-item" >
              <h3>{{produto.nome}}</h3>
            </li>
            <li class="product-item" >
              <p>Códgio {{produto.id}}</p>
            </li>
            <li class="product-item" >
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Quisque arcu justo, blandit id aliquam in, vehicula at velit.
               </p>
            </li>
        </ul>
      </div>
    </div>
    <div class="columns c3" target="_blank" rel="noopener">
      <div class="product">
        <ul class="product-list">
          <li class="product-item" >
            <h3>Comprar por R$ {{formatPreco(produto.preco)}}</h3>
          </li>
          <li class="product-item" *ngIf="compras > 0">
            <h4>Total R$ {{formatPreco(compras)}}</h4>
          </li>
          <li class="product-item" >
            <span>Em Estoque {{produto.estoque}}</span>
          </li>
          <li class="product-item" >
              <button class="action add" *ngIf="!produto.qtde" (click)="addItem()">+Adicionar Itens</button>
                <button *ngIf="produto.qtde && produto.estoque > produto.qtde" class="action inc" (click)="increment()">+</button>
                <span *ngIf="produto.qtde">{{produto.qtde}}</span>
              <button *ngIf="produto.qtde" class="action dec" (click)="decrement()">-</button>
          </li>
          <li class="product-item alert red" *ngIf="produto.qtde < 10">
            <h4>Aviso: Comprar abaixo de 10 itens não tem desconto.</h4>
          </li>
          <li class="product-item alert green" *ngIf="produto.qtde >= 10">
            <h4>Seu desconto aparecerá no checkout.</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

